#banner{
    background-color: darkslategrey; 
    height: 100%;
}
#input{
    
        background-image: linear-gradient(to right, #1F00FF , #E53F60);
        height: 100%;

}
#form{
    margin-top: 200px;
    margin-right:150px;
    font-family:"Akzidenz-Grotesk";
    font-size: 40px;
    color: white;
    height: 100%;
}


body{
    background-image: linear-gradient(to right, #1F00FF , #E53F60);  
}

#login{
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

#frm1{
    font-family: 'Montserrat', sans-serif;
}

#invoerww{
    padding: 8px;
    margin: 7px;
}

::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }